section.FAQ{
    padding: 5%;
}

.FAQ-container{
    max-width: 1400px;
}
.FAQ-container .collapse-item .collapse-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 2rem;
}
.FAQ-container .collapse-item .collapse-header p{
    font-family: Poppins;
    font-size: 23px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
}